.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.movieGrid {
    display: grid;
    grid-template-columns: 30em 30em 30em;
    padding: 20px;
    list-style: none;
}