body{
    background-color: #f4c531;
}
.container{
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
form{
    height: 23.75em;
    width: 18.75em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: calc(50%+3.1em);
    left: 50%;
    padding: 0 3.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5em;
}
form label{
    display: block;
    margin-bottom: 0.2em;
    font-weight: 600;
    columns: black;
}
form input{
    font-size: 0.95em;
    font-weight: 400;
    color: purple;
    padding: 0.3em;
    border: none;
    border-bottom: 0.12em solid plum;
    outline: none;
}

form input:focus{
    border-color: yellow;
}

form input:not(:last-child){
    margin-bottom: 0.9em;
}

form button {
    font-size: 0.95em;
    padding: 0.8em 0 ;
    border-radius: 2em;
    border: none;
    outline: none;
    background-color: #f4c531;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-top: 0.8;
}
.panda-face {
    height: 7.5em;
    width: 8.4em;
    background-color: #ffffff;
    border: 0.18em solid black;
    border-radius: 7.5em 7.5em 5.62em 5.62em;
    position: absolute;
    top: 2em;
    margin: auto;
    left: 0;
    right: 0;
}
.blush-l{
    color: pink;
}
.blush-r{
    color: pink;
}
