@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* Smaller Carousel css start */
body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #fff;
  color: white;
  /* width: 90%; */
}

.ratingsContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  margin-bottom: 30px;
}

.sml-carousel-header {
  font-size: 42px;
}

.img {
  display: flex;
  margin: 5px auto;
  height: 30vh;
  width: auto;
  border-radius: 5%;
}

/* Adjust the size of the images for smaller screens */
@media screen and (max-width: 768px) {
  .img {
    max-height: 20vh;
  }
}

/* Adjust the size of the images for even smaller screens */
@media screen and (max-width: 480px) {
  .img {
    max-height: 15vh;
  }
}

.sml-carousel-container {
  margin: 0 auto;
  width: 90%;
  height: 40vh;
  border-color: white;
}

.title {
  margin-left: 50px;
  width: 70%;
  font-size: 20px;
  /* padding: 20px; */
  border-radius: 5px;
  text-align: center;

}

.description {
  margin: 20px auto;
  width: 80%;
  font-size: 25px;
  margin: 20px auto;
}

/* Smaller Carousel css end */

/* Main Carousel css start */
/* .App {
  text-align: center;
  width: 50%;
  margin: 10rem auto;
} */



.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.09);
  transition: transform 300ms;
  opacity: 0.5;
}

.current-slide {
  transform: scale(0.15);
  opacity: 1;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 20rem;
  margin: 0 auto;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.movie-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 600px;
}

.poster {
  flex: 0 0 auto;
  margin: 5px;
  margin-right: 20px;
}

.poster img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
}

.details {
  flex: 1 1 auto;
}

.details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.details p {
  font-size: 16px;
  margin-bottom: 10px;
}


/* .arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
} */

/* Main Carousel css end */


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  background: rgb(76, 59, 92);
}

body {
  min-height: 100vh;
  background: rgb(76, 59, 92);
  background: linear-gradient(0deg, rgba(76, 59, 92, 1) 7%, rgba(89, 66, 110, 1) 44%, rgba(98, 69, 129, 1) 87%);
}
  
.input-field {
  margin-bottom: 30px;
}

input {
  padding: 1em 8em;
  border-radius: 10px;

}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.login-submit-btn {
  background-color: hotpink;
  color: white;
  padding: 10px 7em;
  border-radius:  10px;
  border: none;
  margin: 30px;
  font-weight: bold;
  font-size: 20px;
}

.login-logo {
  /* height: 200px; */
  width: 200px;
  margin-bottom: 60px;
  text-align: center;
}

.sign-in-title {
  margin-bottom: 40px;
}


.movie-card-container {
  max-width: 600px;
  max-height: 2000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px 10px 0px 0px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}


#movie-card-h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: purple;
  position: absolute;
  right: 15px;
  top: 340px
}
#backdrop{
  filter: blur(1px);
}

#movie-card-h3 {
  font-size: 18px;
  color: purple;
  margin-bottom: 20px;
  position: absolute;
  right: 18px;
  top: 380px;
}

#poster {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  top: 50%; /* Adjust this value to position the poster vertically */
  left: 15%; /* Adjust this value to position the poster horizontally */
  transform: translate(-50%, -50%);
  height: 200px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

#backdrop{
  width: 590px;
  height: 300px;
  ;
}
/* 


#poster {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  top: 380px;
  left: 155px;
  height: 200px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
 
} */

.review-section {
  position: absolute;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: -1;
  color: black;
  max-width: 600px;
  max-height: 2000px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.movie-card-container p {
  margin-bottom: 10px;
}

.movie-card-container button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
  
}

.movie-card-container form {
  margin-top: 20px;
}

.movie-card-container b {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.ratingsContainer{
  max-height: 200;
  max-width: 400;
  background-color: rgb(76, 59, 92);;
}
.movie-overview{
  color: purple;
  margin-top: 100px;
  text-align: left;

}
.btn-wrapper{
  display: flex;
  justify-content: center;
  
}

.movie-detail-btns{
  margin: 7.5px;
  height: 47.5px;
  width: 300px;
  

}
.movie-detail-b{
  margin: 7.5px;
  height: 47.5px;
  width: 300px;
  


}
/* #ratings-body{
  background: rgb(76, 59, 92);
  background: linear-gradient(0deg, rgba(76, 59, 92, 1) 7%, rgba(89, 66, 110, 1) 44%, rgba(98, 69, 129, 1) 87%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 200 ;
} */

#rating-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#rating-box-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#user-input[type="number"],
#user-input[type="text"],
#user-input[type="submit"],
#rating-button {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}

.rating-box input[type="number"],
.rating-box input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
}

.rating-box input[type="submit"],
.rating-box button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
